.pictures_here img {
  border: solid 2px black;
  background-color: white;
  margin: 0 10px;
  padding: 20px;
  max-height: 200px;
  max-width: 200px;
}

div#tagbox {
  width: 90%;
  margin-left: 5%;
  position: relative;
  margin-top: 10px;
  margin-bottom: 0px;
}

div#items_displayed {
  margin-left: 5%;
  position: relative;
  font-size: 80%;
  color: #C0C0C0;
}

div#tagbox a {
  text-decoration: none;
}

div#tagbox div {
  margin: 3px;
}

div.card[data-tags] {
  width: 85%;
  margin: 5%;
}
